.app-container {
    display: flex;
    height: calc(100vh - 64px);
    /* Adjust for the toolbar height */
}

.left-column {
    width: 20%;
    /* Adjust the width as needed */
    background-color: #f0f0f0;
    /* Add your preferred background color */
    padding: 16px;
}

.main-view {
    flex-grow: 1;
    padding: 16px;
    background-color: #fff;
    /* Add your preferred background color */
}